.shoe {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 6px;
}

.solid {
  position: relative;
  border: 2px solid darkgray;
}

.solid:before {
  content: " ";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid rgb(80, 158, 47);
}

.dashed {
  border: 2px dashed lightgray;
}

.hasShoe {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  max-width: 100%;
}

img {
  max-width: 100%;
  max-height: 60%;
}

.noShoe {
  cursor: pointer;
}

.shoeWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 100%;
}

.name, .style, .brand {
  word-wrap:break-word;
  max-width: 100%;
  text-align: left;
}