.shoe {
  display: flex;
  align-items: center;
  text-align: center;
  border: 1px solid darkgray;
  padding: 6px;
}

.hasShoe {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  max-width: 80%;
}

.noShoe {
  cursor: pointer;
}
