.shoe {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid darkgray;
  padding: 6px;
}

.hasShoe {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: space-around;
}

img {
  max-width: 100%;
  max-height: 60%;
}

.noShoe {
  cursor: pointer;
}
